/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.goal.mode-read {
  .read-mode {
    display: block;
  }
  
  .edit-mode {
    display: none;
  }
}

.goal.mode-edit {
  .read-mode {
    display: none;
  }

  .edit-mode {
    display: block;
  }
}

.goal {
  .button-block {
    display: flex;

    .button-done {
      margin-right: auto;
    }
    
    .right-buttons {
      button {
        margin-right: 5px;
      }
    }
  }
}


